:root {
    --text-primary: #5A57CB;
    --text-secondary: #6A7988;
    --text-tertiary: #728096;
    --text-hightlight: #5A57CB;

    --bg-primary: #FFFFFFCC;
    --bg-secondary: #F3F5F8;
    --bg-tertiary: #DFDFDF;
    --bg-hightlight: #8dadbd;

    --interactive: #A0A8B1;
    --active: #aac8d9;
    --hightlight: #1313ec;
}
